node_modules

/.cache
/public/build
/build
/public/ladle
/.netlify
.env
.env.development
.vscode/

/app/tailwind.css

remix.config.js

.dev.vars
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/