@import "../../styles/variables/colors.scss";

.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.text {
  margin-top: 24px;
  text-align: center;
  font-size: 1.5em;
  color: var(--color-brodtext);
}
