.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.container h2,
.container p {
  color: var(--color-secondary);
}

.container p {
  font-size: clamp(20px, 2.5vw, 30px);
  margin: 24px 0;
  font-weight: var(--font-weight-light);
}

.cta {
  margin-top: 10vh;
}

.grid {
  display: inline-grid;
  grid-template-columns: 22% 54% 22%;
  width: 100%;
}

.grid .gridlr {
  position: relative;
  min-height: 300px;
  max-width: 100%;
}

.grid .gridcenter {
  text-align: center;
}

.bubble {
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(193 219 229);
  user-select: none;
  top: 0%;
  left: 0%;
  transition: top 500ms ease-out, left 500ms ease-out, width 500ms ease-out,
    height 500ms ease-out;
}

.bubble img {
  width: 70px;
  height: 70px;
  top: 0px;
  left: 0px;
  position: relative;
  display: inline-block;
  max-width: unset;
  transition: width 500ms ease-out, height 500ms ease-out;
}

.bubblesLarge {
  padding: 0 2%;
}

.bubblesLarge > div {
  position: relative;
  min-height: 600px;
}

@media screen and (max-width: 680px) {
  .grid {
    display: block;
  }
  .grid .gridlr {
    display: none;
  }
}
